{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Managed PlanQK Service",
    "description" : "Generic API description for a managed PlanQK Service.\n",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://gateway.platform.planqk.de/df483da2-d630-4a84-b99f-01648c93f92c/random-number-with-sleep/1.0.0"
  }, {
    "url" : "http://gateway.platform.planqk.de/df483da2-d630-4a84-b99f-01648c93f92c/random-number-with-sleep/1.0.0"
  } ],
  "security" : [ {
    "default" : [ ]
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "tags" : [ "Status API" ],
        "summary" : "Health checking endpoint",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "title" : "Status of the service",
                      "type" : "string",
                      "example" : "Service is up and running"
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      },
      "post" : {
        "tags" : [ "Service API" ],
        "summary" : "Asynchronous execution of the service",
        "description" : "This method starts an execution of the service, which in turn is processed asynchronously by the platform. The location header of the response contains the URL which can be used to query the status and the result of the execution.",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "data" : {
                    "type" : "object"
                  },
                  "params" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Execution of the service started",
            "headers" : {
              "Location" : {
                "description" : "URL to query the status and the result of the execution",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "enum" : [ "UNKNOWN", "PENDING", "RUNNING", "SUCCEEDED", "CANCELLED", "FAILED" ]
                    },
                    "createdAt" : {
                      "type" : "string"
                    },
                    "startedAt" : {
                      "type" : "string"
                    },
                    "endedAt" : {
                      "type" : "string"
                    }
                  },
                  "example" : {
                    "id" : "87cb778e-ac43-11ec-b909-0242ac120002",
                    "status" : "SUCCEEDED",
                    "createdAt" : "2022-01-01 22:38:08",
                    "startedAt" : "2022-01-01 22:39:08",
                    "endedAt" : "2022-01-01 22:40:08"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid input"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Internal server error"
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/{id}" : {
      "get" : {
        "tags" : [ "Service API" ],
        "summary" : "Check execution status",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of a certain execution",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "enum" : [ "UNKNOWN", "PENDING", "RUNNING", "SUCCEEDED", "CANCELLED", "FAILED" ]
                    },
                    "createdAt" : {
                      "type" : "string"
                    },
                    "startedAt" : {
                      "type" : "string"
                    },
                    "endedAt" : {
                      "type" : "string"
                    }
                  },
                  "example" : {
                    "id" : "87cb778e-ac43-11ec-b909-0242ac120002",
                    "status" : "SUCCEEDED",
                    "createdAt" : "2022-01-01 22:38:08",
                    "startedAt" : "2022-01-01 22:39:08",
                    "endedAt" : "2022-01-01 22:40:08"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Internal server error"
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/{id}/result" : {
      "get" : {
        "tags" : [ "Service API" ],
        "summary" : "Get the result of an execution",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of a certain execution",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "type" : "object",
                    "properties" : {
                      "result" : {
                        "type" : "object",
                        "description" : "service-specific result object"
                      },
                      "metadata" : {
                        "type" : "object",
                        "description" : "service-specific metadata object which contains additional information besides the actual results"
                      }
                    }
                  }, {
                    "type" : "object",
                    "properties" : {
                      "code" : {
                        "type" : "string",
                        "description" : "service-specific error code representing the type of problem encountered"
                      },
                      "detail" : {
                        "type" : "string",
                        "description" : "service-specific error message describing the detail of the problem encountered"
                      }
                    }
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Internal server error"
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/{id}/interim-results" : {
      "get" : {
        "tags" : [ "Service API" ],
        "summary" : "Get the last or a list of interim results of an execution",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of a certain execution",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "last",
          "in" : "query",
          "description" : "Either true or false to show only the last or all interim results (default: false)\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "oneOf" : [ {
                    "type" : "array",
                    "items" : {
                      "type" : "object"
                    }
                  }, {
                    "type" : "object"
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Internal server error"
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/{id}/cancel" : {
      "put" : {
        "tags" : [ "Service API" ],
        "summary" : "Cancel an execution",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of a certain execution",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "string"
                    },
                    "status" : {
                      "type" : "string",
                      "enum" : [ "UNKNOWN", "PENDING", "RUNNING", "SUCCEEDED", "CANCELLED", "FAILED" ]
                    },
                    "createdAt" : {
                      "type" : "string"
                    },
                    "startedAt" : {
                      "type" : "string"
                    },
                    "endedAt" : {
                      "type" : "string"
                    }
                  },
                  "example" : {
                    "id" : "87cb778e-ac43-11ec-b909-0242ac120002",
                    "status" : "SUCCEEDED",
                    "createdAt" : "2022-01-01 22:38:08",
                    "startedAt" : "2022-01-01 22:39:08",
                    "endedAt" : "2022-01-01 22:40:08"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not found"
          },
          "500" : {
            "description" : "Internal server error"
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    }
  }

}